  .ant-message {
    z-index: 1000000;
  }

  .custom-filter-dropdown {
    padding: 8px;
    border-radius: 6px;
    background: #fff;
    box-shadow: 0 1px 6px rgba(0, 0, 0, .2);
  }
  
  .custom-filter-dropdown input {
    width: 130px;
    margin-right: 8px;
  }
  
  .highlight {
    color: #f50;
  }

  .avatar-uploader,
  .avatar-uploader-trigger,
  .avatar {
    width: 150px;
    height: 150px;
  }
  .avatar-uploader {
    display: block;
    border: 1px dashed #d9d9d9;
    border-radius: 6px;
    cursor: pointer;
  }
  .avatar-uploader-trigger {
    display: table-cell;
    vertical-align: middle;
    font-size: 28px;
    color: #999;
  }